<h1 class="text-2xl font-bold mb-4">Редагування запиту</h1>

<%= render 'form', request: @request %>

<%= link_to '⬅️ Назад до запиту', request_path(@request),
            class: 'text-blue-600 underline mt-4 inline-block' %>
